body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #76c9c5;
  background-image: url(img/2.jpeg);
  color: #333;
}
.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: #00BCD4;
  border-radius: 15px;
}
.flex-center {
  padding: 120px 40px;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  justify-content: center;
  align-items: flex-start;
}
button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 24px;
  font-weight: 700;
  border: none;
  background-color: #ffc338;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0;
  &:hover,
  &:focus {
    background-color: #d0960e;
  }
}
.title {
  font-size: 2rem;
  margin-bottom: 32px;
}

.custom-input {
  padding: 10px;
  font-family: inherit;
  font-size: 18px;
  min-width: 320px;
  border-radius: 8px;
  border: none;
}

.custom-list {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.custom-list li {
  margin-bottom: 24px;
  text-decoration: underline;
  transition: all 0.3s;
  &:hover {
    color: aliceblue;
  }
}

.custom-list li button {
  margin-left: 1rem;
  background-color: transparent;
  border: 1px solid #333;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' fill='none' viewBox='0 0 24 24'%3e%3cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m16 8-8 8m0-8 8 8'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  padding: 5px;
  width: 25px;
  height: 25px;
  background-size: contain;
  font-size: 0;
  line-height: 0;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;

  display: inline-block;
  top: -5px;
  position: relative;

  &:hover,
  &:focus {
    background-color: #ffc338;
    border-color: #ffc338;
    opacity: 1;
  }
}

.custom-list li::marker {
  font-weight: 800;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    z-index: 2;
    position: relative;
    left: -10px;
    height: 41px;
    border-radius: 0 8px 8px 0;
  }
}
